* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppin', sans-serif;
    scroll-behavior: smooth;
}

#navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: top 0.3s;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #fff;
    background-image: linear-gradient(to right, #131313, #131313);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#navbar_logo:hover {
    letter-spacing: 15px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


.navbar_links:hover {
    color: #2141de;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #fff;
    }

    .navbar_menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #131313;
    }
    
    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }


    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero Section CSS */

.hero {
    background: #fff;
    padding: 10rem 0;
}

.hero_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.hero_content {
    color:#131313;
    width: 100%;
}
.hero_content h1 {
    font-size: 4rem;
    background: #39A0F5; 
    background: -webkit-linear-gradient(to right, #39A0F5, #3942F5);
    background: linear-gradient(to right, #39A0F5, #3942F5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 0;
}


.hero_content p {
   margin: 15px 0 0 0;
   margin-top: 1rem;
   font-size: 26px;
   font-weight: bold;
   letter-spacing: 0em;
   font-family: 'Poppins', sans-serif;
}

.hero_content p a {
    font-size: 25px;
    color: #39A0F5;
    letter-spacing: 1px;
    text-decoration: none;
}

.hero_content p a span {
    border-right: 0.10em solid ;
    color: #0B77D0;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    font-size: 36px;
    display: inline-block;
    color: #35505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #0B77D0;
}


.hero_img-container {
    text-align: center;
}

.hero_img-card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .hero_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .hero_img-container {
        display: flex;
        justify-content: center;
    }

    .hero_img-card {
        height: 425px;
        width: 425px;
    }

    .hero_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .hero_content h1 {
        font-size: 2.5rem;
        margin-top: 5rem;
    }


    .hero_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .social-links {
        margin-top: 25px
    }
}

/* Section General */

section {
    padding: 60px 0;
    overflow: hidden
}

.section-title {
    text-align: center;
    padding-bottom: 30px
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
}


.section-title p {
    margin-bottom: 0;
}



/* Skill */

.skills-container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.skills-container .skill-box {
    width: 100%;
    margin: 25px 0;
}
.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4070f4;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}